name: Build TaiXiu Plugin

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Force clean
        run: |
          rm -rf ~/.m2
          rm -rf target

      - name: Build with Maven
        run: mvn -U -e clean package

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: TaiXiu
          path: target/*.jar
